/.github export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/.phpunit.cache export-ignore
/.phpunit.result.cache export-ignore
/coverage export-ignore
/node_modules export-ignore
/vendor export-ignore
/composer.lock export-ignore
/phpunit.xml export-ignore
/tests export-ignore
